<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Сотрудники</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
</head>
<body>
    <h1>Наши сотрудники</h1>
    <section class="workers">
        <div>
            <img src="https://avatars.mds.yandex.net/get-images-cbir/2309063/XKs7__y2FwYfv7QDwDiyUA3286/ocr">
            <p>Василий Хвостович</p>
        </div>
        <div>
            <img src="https://avatars.mds.yandex.net/get-images-cbir/4578382/YK0yBH-dsrm7BamSf9yvKg3017/ocr">
            <p>Люся Кусьевна</p>
        </div>
        <div>
            <img src="https://avatars.mds.yandex.net/get-images-cbir/2916349/ntNgIQzbB3yhWLrfvO6Gvw3068/ocr">
            <p>Барсик Мурхалыч</p>
        </div>
    </section>
    <section>
        <a href="http://127.0.0.1:8000"><button><h3>На главную</h3></button></a>
    </section>
</body>
</html>